@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


/* Body */

body{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    padding: 10px;
    font-family: 'Grape Nuts',
    cursive;
}


/* Scroll */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(57, 91, 245);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(95, 116, 209);
}


/* Mobile View */

.mobile-container{
    background-color: white;
    height: 700px;
    width: 360px;
    border: 1px solid black;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

/* Header */

.heading{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(244, 250, 255);
    color: rgb(172, 172, 172);
}

.heading-logo > img{
    height: 30px;
}

.side-bar > img{
    height: 20px;
    width: 20px;
}

.search-bar{
    display: none;
    font-size: 1.2rem;
}

.visible{
    display: inline-block;
    position: absolute;
    left: 50px;
    height: 40px;
    width: 72%;
}


.heading > div{
    font-size: 2rem;
    cursor: pointer;
}
.heading > div:hover{
    opacity: 0.6    ;
}

#search > img{
    height: 20px;
}

/* Main-Container */

/* Category */
.category > ul{
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: hidden;
    padding: 10px;
}

.category > ul > li{
    /* list-style: none; */
    padding: 5px;
}

.category > ul > li > img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}



.category-item:hover{
    opacity: 0.6;
    cursor: pointer;
}

/* Notifier */
.notifier{
    position: relative;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    padding: 10px;
    line-height: 25px;
    border-radius: 8px;
    margin: 15px;
}

.cross-btn{
    position: absolute;
    right: 13px;
    top: 13px;
    cursor: pointer;
}
.cross-btn:hover{
    opacity: 0.6;
}

.personalize-btn{
    border: 1px solid rgba(0, 0, 0, 0.644) ;
    border-radius: 15px;
    width: max-content;
    padding: 3px;
    margin: 10px auto 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.43);
}

.personalize-btn:hover{
    opacity: 0.6;
}

/* Recipe */
.recipe{
    margin: 15px;

}

.recipe-item{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.recipe-item > img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.recipe-item-desc{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    margin-top: -6px;
}
.recipe-item-desc:hover{
    background-color: rgba(128, 128, 128, 0.1);
}

.rating{
    display: flex;
}


/* Footer */

footer{
    background-color: white;
    padding: 5px;
    position: fixed;
    bottom: 12px;
    width: 352px;
    overflow: hidden;

}

footer > hr{
    color: black;
    border: none;
    border-top: 3px solid black;
    width: 140px;
    margin: 0 auto;
}



/* Popup */

.popup{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    border: 0.1px solid black;
    border-radius: 8px;
    height: auto;
    width: 300px;
    padding: 15px 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: none;
}

.popup h2{
    margin-bottom: 10px;
}

.popup-cross-btn {
    position: absolute;
    right: 13px;
    top: 13px;
    cursor: pointer;
}

.popup-cross-btn:hover {
    opacity: 0.6;
}